<!DOCTYPE html> 
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Merchex</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}"/>
    </head>
    <body>
        <nav>
            <a href="{% url 'band-list' %}">Band</a>
            <a href="{% url 'listing-list' %}">Listing</a>
            <a href="{% url 'contact' %}">Contact-us</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>